<div class="project-intro">
	<div class="container">

		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="project-title"><%= @project.name %></h2>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-8">
				<%= link_to image_tag(@project.image_url, alt: @project.name, widh: '100%'), project_path(@project) %>
			</div>
			<div class="col-md-4">
			<% if can? :manage, @project %>
				<div class="project-mgmt">
					<%= link_to 'Edit',   edit_project_path(@project) %>
					<%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
				</div>
			<% end %>
				<%= render 'stats', project: @project, days_to_go: @days_to_go %>
			<% if can? :manage, @project %>
				<%= link_to 'See project backers', project_pledges_path(@project), class: "btn btn-success btn-lg" %>
			<% else %>
				<%= link_to 'Back this project', new_project_pledge_path(@project), class: "btn btn-success btn-lg" %>
			<% end %>
				<p class="project-time"><%= funding_status_message @project %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p class="project-small-description"><%= @project.short_description %></p>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="project-subtitle">About this project</h3>
			<p><%= raw @project.description %></p>
		</div>
		<div class="col-md-4">
			<p><%= render @rewards %></p>
			<% if can? :manage, @project.rewards.build %>
				<%= link_to 'Add Reward', new_project_reward_path(@project), class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>


